html, body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
}
#GameBoardContainer {
    display: grid;
    height: clamp(200px, 800px, 900px);
    width: clamp(200px, 500px, 900px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    border: 1px solid black;
}
#GameBoard{
    grid-area: 2 / 1 / 3 / 3 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: gray;
}
#Stats {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#P1Stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;
    
}
#P2Stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-area: 1 / 2 / 3 / 3;
}
#GameBtn1, #GameBtn2, #GameBtn3, #GameBtn4, #GameBtn5, #GameBtn6, #GameBtn7, #GameBtn8, #GameBtn9 {
    height: 1fr;
    width: 1fr;
    background-color: blue;
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#GameBtn1:hover, #GameBtn2:hover, #GameBtn3:hover, #GameBtn4:hover, #GameBtn5:hover, #GameBtn6:hover, #GameBtn7:hover, #GameBtn8:hover, #GameBtn9:hover {
    background-color: rgba(60, 60, 236, 0.801);
}
#BtnContainer {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
#NamePlayersBtnContainer, #ClearBoardBtnContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}
#NamePlayersBtn, #ClearBoardBtn {
    height: 60px;
    width: 120px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
dialog {
    height: 200px;
    width: 300px;
    border: none;
    border-radius: 10px;
}
.form-item-container {
    display: flex;
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-item {
    display: flex;
    width: 300px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#StartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    background-color: green;
    border-radius: 10px;
    border: none;
}